# Panel web server port
PANEL_PORT=4000

# SQLite database path (relative to binary location)
DB_PATH=./data/panel.db

# FiveM server executable path
FIVEM_EXECUTABLE=./FXServer

# Path to your server-data folder
FIVEM_DATA_PATH=./server-data

# Config file inside server-data
FIVEM_CFG=server.cfg

NODE_ENV=production
