# Panel web server port
PANEL_PORT=4000

# fxServer server executable path
FXSERVER_EXECUTABLE=./FXServer

# Path to your server-data folder
FXSERVER_DATA_PATH=./server-data

DEPLOY_PATH=./server-data/resources/[dev-resources]/fxManager

# Config file inside server-data
FXSERVER_CFG=server.cfg

NODE_ENV=production

# data for the discord bot (will be migrated to the database)
DISCORD_BOT_TOKEN="DISCORD.BOT.TOKEN"
DISCORD_GUILDID="GUILDID"
DISCORD_ROLE_IDS="ROLEID,ROLEID"
